
.containerSwiper:after{
    background: linear-gradient(270deg, #07021C 3.07%, rgba(7, 2, 28, 0) 100%);
}
.containerSwiper:before {
    background: linear-gradient(90deg, #07021C 3.07%, rgba(7, 2, 28, 0) 100%);
}

.buttons{
    margin-left:225px;
    margin-top:35px;
}

.buttons>*:nth-child(1){
    margin-right: 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .buttons > *:nth-child(1) {
        margin-right: 8px;
    }
    .buttons {
        margin-left:145px;
        margin-top:15px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .buttons > *:nth-child(1){
        margin-right: 14px;
    }
    .buttons{
        margin-left:180px;
        margin-top:32px;
    }
}

@media (min-width: 360px) and (max-width: 767px) {
    .buttons{
        visibility: hidden;
        display: none;
    }
}
